html { 
  background: url(images/sands.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	font-family:'Roboto', sans-serif;
	/*overflow:hidden;*/
	font-size: 48px;
}

h1{
	text-align: center;
	color: #FFFFFF;
	font-size: 55px;
	display:block;
	position:relative;
	margin-top: 13%;
	margin-bottom: 3%;
}

h2{
	text-align:center;
	color: #FFFFFF;
	text-align: center;
	font-size: 35px;
	display:block;
	position:relative;
}

#about_text {
	text-align: left;
	color:#FFFFFF;
	font-size: 20px;
	margin-left:10%;
}

b{
	font-weight:900;
}

#goat{
	margin-left: 5%;
	margin-right: 10%;
	border:solid;
	border-color: #FFFFFF;
	border-radius: 10px;
	border-width: 7px;
}
.outer{
	width:100%;
}
#content{
	width:50%;
	margin:0 auto;
}
#link_projects{
	margin-left: 65%;
	margin-top: 0;
    margin-right:auto;
    width:960px;

}

#link_about{
	margin-left: 65%;
	margin-top: 15%;
    margin-right:auto;
    width:960px;

}

#link_contact{
	margin-left: 65%;
	margin-top: 5%;
    margin-right:auto;
    width:960px;
}


#link_blog{
	margin-left: 65%;
	margin-top: 20%;
    margin-right:auto;
    width:960px;
}
a.github{
	font-size:50px;
	color:#FFFFFF;
	font-weight: bold;
}

a.email{
	color:#FFFFFF;
	margin-left: 37.5%;
	font-weight:bold;
	border:solid;
	border-radius: 30px;
	border-color:black;
	padding:10px;
	background-color:black;
}

.links{
	display:block;
	text-align: right;
	float: left;
	margin-right: 10px ;
	margin-left: 10px;
	position: relative;
}
.links.about{
	margin-left:22%;
}

.highlight{
	top:-5px;
	font-weight: bold;
}
span{
	margin-left: 10%;
}

a{
	color:white;
    line-height:100px;
    text-align: center;
    font-size:30px;
    text-decoration: none
}
#header{
	margin-left:80%;
	margin-top:18%;
	position:relative;
}

#instagram{
	text-align: right;
	display: inline-block;
	float: left;
	margin-right: 10px;

	position: relative
}

#linkedin{
	text-align: right;
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-left:25%;
	position: relative;
}

#twitter{
	text-align: right;
	display: inline-block;
	float: left;
	margin-right: 5px;
	margin-top:2%;
	position: relative
}

#mail{
	text-align: right;
	display: inline-block;
	float: left;
	margin-right: 10px;

	position: relative
}

#facebook{
	text-align: right;
	display: inline-block;
	float: left;
	margin-right: 25px;

	position: relative
}